@media screen and (width > 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectBio {
        width: 100%;
        height: 90vh;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .projectContent {
        width: 90%;
        margin: 0 auto;
    }

    .projectBio img {
        max-width: 50%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .projectBrief {
        text-align: center;
        padding-block: 4rem;
        width: 50%;
        margin: 0 auto;
    }

    #pagesImage {
        width: 80%;
        height: auto;
    }

    /* Project Problem */
    .projectProblem {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin-block: 4rem;
        width: 100%;
    }

    .projectProblem div {
        width: 40%;
    }

    .projectProblem figure {
        width: 40%;
    }

    .projectProblem img {
        width: 100%;
    }

    #zonesImage {
        height: 80vh;
        width: auto;
        margin-block: 5rem 10rem;
    }

    /* Project Outcome */
    .projectOutcome {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        gap: 5rem;
    }

    .projectOutcome div:first-child {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        width: 40%;
    }

    .projectOutcome div:first-child img {
        margin-block: 5rem;
    }

    .projectOutcome div:last-child {
        width: 50%;
    }


    /* PROJECT CONCLUSION */

    .projectConclusion {
        display: flex;
        justify-content: center;
        margin-block: 3rem 5rem;
    }

    .fullWidthImage {
        height: 100vh;
        width: 90%;
        margin: 2rem 4rem;
        object-fit: cover;
    }

    .lastImage {
        width: 100%;
        margin: 4rem 0 0 0;
        border-radius: 0;
        height: 70vh;
    }

}