@media screen and (width > 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectBio {
        width: 90%;
        height: 80vh;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .projectBlurb {
        justify-content: space-around;
        margin-right: 4rem;
    }

    .projectBio img {
        max-width: 50%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .projectContent {
        width: 90%;
        margin: 0 auto;
    }

    .projectBrief {
        text-align: center;
        padding-block: 4rem;
        width: 50%;
        margin: 0 auto;
    }

    /* Project Problem */
    .projectProblem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    .projectProblem div {
        width: 40%;
    }

    .projectProblem img {
        width: 50%;
    }

    /* Project Process */
    .projectProcess {
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
        align-items: flex-start;
        max-width: 100%;
    }

    .projectProcess div {
        margin-top: 5rem;
    }

    .projectProcess div img {
        margin-top: 4rem;
        width: 100%;
    }

    .projectProcess img {
        width: 50%;
    }

    /* Project Solution */
    .projectSolution {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .projectSolution article {
        margin-top: 5rem;
        width: 40%;
    }

    .projectSolution article img {
        width: 120% !important;
        margin-top: 120px;
    }

    .projectSolution div {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 100%;
        margin-top: 5rem;
    }

    .projectSolution div img {
        width: 40%;
    }

    #smallerWidth {
        width: 66%;
    }

    video{
        width: 33%;
    }

    /* PROJECT VISUALS */
    .projectVisuals {
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 100%;
        margin-top: 5rem;
    }

    .projectVisuals div {
        width: 40%;
        margin-top: 5rem;
    }

    .projectVisuals img {
        width: 50%;
    }

    /* PROJECT CONCLUSION */
    .projectConclusion {
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
        margin-block: 5rem;
        align-items: center;
    }

    .projectConclusion img {
        width: 80%;
        margin-block: 3rem;
    }

    .fullWidthImage {
        height: 100vh;
        width: 90%;
        margin: 2rem 4rem;
        object-fit: cover;
        border-radius: 0.75rem;
    }

    .lastImage {
        width: 100%;
        margin: 4rem 0 0 0;
        border-radius: 0;
        height: 70vh;
    }

}