:root {
    --maroon: #6b0002;
    --yellow: #F9F2A2;
    --peach: #EEA08A;
    --almond: #F5E3DF;
    --grey: #7D8491;
    --text: #190804;
    --primary1: #FBEBE6;
}

nav {
    position: fixed;
    z-index: 3;
    height: 72px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    top: 0;
}

.mobile-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav i {
    font-size: 1.75rem;
}

nav img {
    height: 100%;
}

/* The Overlay (background) */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    background-color: var(--grey);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.overlay-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.overlay-content a {
    height: fit-content;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    text-decoration: none;
    text-align: center;
    padding-block: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid  rgba(255, 255, 255, 0);
}

.overlay-content a:hover{
    background-color: #eaeaea;
    color: var(--orange);
}

.closebtn {
    color: black;
    font-size: 1.75rem;
    padding: 2rem 1.5rem 0 0;
    float: right;
    transition: 0.5s;
}

.current {
    color: var(--maroon) !important;
    background-color: #eaeaea !important;
}

.desktop-nav {
    display: none;
}

/*DESKTOP LAYOUT*/
@media screen and (width > 768px) {
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    .desktop-nav div {
        display: flex;
        gap: 3rem;
    }

    .desktop-nav a {
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        font-size: 1.24rem;
    }

    .desktop-nav a:hover {
        color: var(--orange);
    }

    .current {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        background-color: #ffffff00 !important;
    }
}