@media screen and (width > 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projectBio {
        width: 90%;
        height: 80vh;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .projectContent {
        width: 90%;
        margin: 0 auto;
    }

    .projectBlurb {
        justify-content: space-around;
        margin-right: 4rem;
    }

    .projectBio img {
        max-width: 50%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .projectBrief {
        text-align: center;
        padding-block: 4rem;
        width: 50%;
        margin: 0 auto;
    }

    /* Project Problem */
    .projectProblem {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-block: 4rem;
    }

    .projectProblem div {
        width: 40%;
    }

    .projectProblem img {
        width: 50%;
    }

    /* Project Process */
    .projectProcess {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        max-width: 100%;
    }

    .projectProcess div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .projectProcess article {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        width: 50%;
    }

    #dataCards {
        margin-top: 7rem;
        width: 80%;
        object-fit: cover;
    }

    #dataTest {
        width: 45%;
        object-fit: cover;
    }

    video {
        margin-block: 5rem;
        width: 70%;
    }

    /* Project Outcome */
    .projectSolution {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 5rem;
        gap: 7rem;
    }

    .projectSolution div{
        margin-top: 5rem;
        width: 50%;
    }

    .projectSolution div img{
        width: 100%;
        margin-top: 5rem;
    }

    .projectSolution div img{
        width: 90%;
    }

    #mobileMockup{
        width: 35%;
    }

    /* PROJECT VISUALS/CHALLENGE*/

    .projectVisuals{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 7rem;
    }

    .projectVisuals div{
        margin-top: 5rem;
    }

    .projectVisuals img{
        width: 50%;
        object-fit: cover;
    }


    .projectTools{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
        gap: 7rem;
    }

    .projectTools img{
        width: 40%;
    }
    

    /* PROJECT CONCLUSION */

    .projectConclusion {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
    }

    .fullWidthImage {
        height: 100vh;
        width: 90%;
        margin: 2rem 4rem;
        object-fit: cover;
        border-radius: 0.75rem;
    }

    .lastImage {
        width: 100%;
        margin: 4rem 0 0 0;
        border-radius: 0;
        height: 70vh;
    }

}