/* SETUP AND HELPERS*/
* {
    box-sizing: border-box;
}

:root {
    --maroon: #4A190B;
    --yellow: #F9F2A2;
    --peach: #EEA08A;
    --almond: #F5E3DF;
    --grey: #7D8491;
    --text: #190804;
    --primary1: #FBEBE6;
}

/* UNIVERSAL STYLES */

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    padding-block: 24px;
}

body {
    width: 100vw;
    margin: 0;
}

.marginTop {
    padding-top: 72px;
}

.marginTop2 {
    padding-top: 25%;
}

section {
    padding: 2rem;
}

.peachBackground {
    background-color: var(--primary1);
}

.imgAnimation:hover {
    transition: 0.5s ease;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.imgAnimation2:hover {
    transition: 0.5s ease;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.hideOnMobile {
    display: none;
}

.button {
    background-color: white;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 0.5rem 1.75rem;
    width: fit-content;
}


#fixedButton {
    position: fixed;
    z-index: 2;
    bottom: 1.5rem;
    left: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

/* ANIMATION */
.hidden {
    opacity: 0;
    transform: translateY(10%);
    transition: all 1.2s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


/* HOME PAGE */
.landing {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.landing main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mobileTitleImage {
    width: 100%;
}

#landingNav {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    width: 100%;
}


/* ABOUT PAGE */
.aboutBio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.aboutBio div {
    display: flex;
    flex-direction: column;
}

.aboutBio div:first-child {
    width: 45%;
    gap: 2rem;
    justify-content: center;
    margin-left: 2rem;
    text-align: center;
}

#meImage {
    transform: rotate(-4deg);
    aspect-ratio: 2/3;
    object-fit: cover;
    transition: 0.25s;
}

#meImage:hover {
    transform: rotate(0);
}

#aboutText {
    align-items: end;
    gap: 24px;
}

.aboutBio .headerSmall {
    width: 66%;
}

#aboutText img {
    width: 150px;
    transform: rotate(8deg);
}



/* PROJECTS PAGE */
.projectsGallery {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.projectsGalleryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.projectsGalleryCard div {
    width: 100%;
}

.projectsGalleryCard img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}


.projectsGalleryCard img:hover {
    cursor: pointer;
}

.projectsGalleryCard p {
    margin: 0;
}

#quote {
    text-align: center;
}


/*FOOTER/NAV*/
footer {
    width: 100%;
    text-align: center;
    padding: 16px 16px 0 16px;
}

nav {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav img {
    height: 100%;
}

.navLogo:hover {
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

nav div {
    display: flex;
    gap: 16px;
}

.current {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}


/*DESKTOP LAYOUT*/
@media screen and (width > 768px) {
    .hideOnMobile {
        display: unset;
    }

    .hideOnDesktop {
        display: none;
    }

    #fixedButton {
        position: fixed;
        z-index: 2;
        bottom: 2rem;
        left: 2rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    #desktopTitleImage {
        width: 100%;
        scale: 0.8;
    }

    #landingNav {
        top: 66%;
    }

    .hidden2 {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-20%);
        transition: all 1.2s ease-in-out;
        transition-delay: 0.5s;
    }

    .show2 {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .btbProjectImage {
        width: 90%;
    }

    .projectSection .btbProjectCard img {
        width: 100%;
    }

    /* ABOUT PAGE */
    .aboutBio {
        flex-direction: row;
        gap: 140px;
        align-items: center;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .aboutBio div {
        display: flex;
        flex-direction: column;
    }

    .aboutBio div:first-child {
        width: 33%;
        margin-left: 0;
    }

    #meImage {
        transform: rotate(0);
    }

    #meImage:hover {
        transform: rotate(-4deg);
    }

    #aboutText {
        gap: 100px;
    }

    .aboutBio .headerSmall {
        width: 100%;
    }

    #aboutText img {
        width: 220px;
        transform: rotate(8deg);
    }


    /* PROJECTS PAGE */
    .projectsGallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 8.3%);
        column-gap: 0;
    }

    .chrissysProjectCard {
        grid-column: 1/5;
        grid-row: 1/3;
    }

    .evergreenProjectCard {
        grid-column: 8/13;
        grid-row: 1/5;
    }

    .evergreenProjectCard img {
        aspect-ratio: 3/4;
    }

    .btbProjectCard {
        grid-column: 1/6;
        grid-row: 3/6;
    }

    .smallDataProjectCard {
        grid-column: 9/13;
        grid-row: 5/6;
        margin-top: 4rem;
    }

    .budProjectCard {
        grid-column: 1/6;
        grid-row: 6/9;
    }

    .budProjectCard img {
        aspect-ratio: 6/9;
    }

    .frankProjectCard {
        grid-column: 8/13;
        grid-row: 7;
    }

    #quote {
        max-width: 75%;
        margin: 0 auto;
        margin-block: 3rem;
    }


    /*FOOTER/NAV*/
    footer {
        padding: 48px 48px 0 48px;
    }

    nav {
        height: 72px;
    }

    nav div {
        display: flex;
        gap: 48px;
    }
}