/* ROMIE - Display/Header Font */
@font-face {
    font-family: 'Romie';
    src: url('/romie_font/RomieTrial-Regular.otf');
    src: url('/romie_font/RomieTrial-Bold.otf');
    src: url('/romie_font/RomieTrial-Italic.otf');
    src: url('/romie_font/RomieTrial-BoldItalic.otf');
}


/* DM Sans - Body/Content Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


:root {
    --maroon: #6b0002;
    --yellow: #F9F2A2;
    --peach: #EEA08A;
    --almond: #F5E3DF;
    --grey: #7D8491;
    --text: #190804;

    --primary1: #FBEBE6;
}

h1 {
    font-size: 5rem;
    font-family: "Romie", serif;
    font-weight: 600;
    line-height: 5rem;
}

h2 {
    font-size: 2.25rem;
    font-family: "Romie", serif;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-family: "Romie", serif;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-size: 1.25rem;
    font-family: "Romie", serif;
    font-weight: 600;
    margin: 0;
}

h5 {
    font-size: 1rem;
    font-family: "Romie", serif;
    font-weight: 600;
    margin: 0;
}

h6 {
    font-size: 1rem;
    font-family: "Romie", serif;
    font-weight: 400;
    margin: 0;
}

.headerLarge {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

.headerMedium {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

.headerSmall {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}

.bodyLarge {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

.bodyMedium,
p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

.bodySmall {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

.bold {
    font-weight: 600;
}


span {
    font-size: 0.75rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}


a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    cursor: url("../images/cursor-pointer.png"), auto;
}

.button {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.capitalise {
    text-transform: uppercase;
}


/* Home Page */
#title {
    color: var(--maroon);
}

#landingNav a {
    color: var(--maroon);
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
}

#landingNav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

/* About Page */
.aboutBio h3 {
    margin-block: 0.5rem;
}

.contactSection h5 {
    width: 80%;
    margin: 0 auto;
}

.contactSection h2 {
    margin-block: 1rem;
    font-size: 2.5rem;
}

/* Projects Page */
.projectBlurb div:first-child p {
    margin-top: 1rem;
}

#projectsHeader {
    margin-left: 2rem;
}

#projectsHeader h2 {
    margin-bottom: 0;
    font-size: 3.25rem;
}

#projectsHeader h3 {
    font-size: 2.5rem;
    font-style: italic;
}

#projectText p {
    font-size: 0.75rem;
}

.projectSection h4 {
    margin-block: 0 3rem;
}

.nextProjectBar a {
    font-size: 1.5rem;
    font-family: "DM Serif Display", serif;
    font-weight: 100;
}

.projectTags p {
    margin-right: 2rem;
}

figcaption {
    font-size: 0.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}

.copyright {
    font-size: 0.66rem;
}

.socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

.socialLinks i {
    font-size: 2rem;
}

/*DESKTOP LAYOUT*/
@media screen and (width > 768px) {
    h1 {
        font-size: 186.31px;
        line-height: 298.1px;
    }

    h2 {
        font-size: 95.39px;
        line-height: 152.6px;
    }

    h3 {
        font-size: 76.31px;
        line-height: 122.1px;
    }

    h4 {
        font-size: 61.05px;
        line-height: 97.7px;
    }

    h5,
    h6 {
        font-size: 48.83px;
        line-height: 78.1px;
    }

    .headerLarge {
        font-size: 39.06px;
        line-height: 62.5px;
    }

    .headerMedium {
        font-size: 31.25px;
        line-height: 50px;
    }

    .headerSmall {
        font-size: 25px;
        line-height: 40px;
    }

    .bodyLarge {
        font-size: 20px;
        line-height: 32px;
    }

    .bodyMedium,
    p {
        font-size: 16px;
        line-height: 25.6px;
    }

    .bodySmall {
        font-size: 12.8px;
        line-height: 23px;
    }

    .link {
        font-size: 20px;
        line-height: 32px;
    }
}