/* ROMIE - Display/Header Font */
@font-face {
    font-family: 'Romie';
    src: url('/romie_font/RomieTrial-Regular.otf');
    src: url('/romie_font/RomieTrial-Medium.otf');
    src: url('/romie_font/RomieTrial-Bold.otf');
    src: url('/romie_font/RomieTrial-Italic.otf');
    src: url('/romie_font/RomieTrial-MediumItalic.otf');
    src: url('/romie_font/RomieTrial-BoldItalic.otf');
}

/* DM Sans - Body/Content Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --maroon: #4A190B;
    --yellow: #F9F2A2;
    --peach: #EEA08A;
    --almond: #F5E3DF;
    --grey: #7D8491;
    --text: #190804;
    --primary1: #FBEBE6;
}


h1 {
    font-family: "Romie", serif;
    color: var(--maroon);
    line-height: 160%;
    font-weight: 400;
    font-size: 149.05px;
    margin: 0;
}

h2 {
    font-family: "Romie", serif;
    color: var(--maroon);
    line-height: 160%;
    font-weight: 400;
    font-size: 76.31px;
    margin: 0;
}

h3 {
    font-family: "Romie", serif;
    color: var(--maroon);
    line-height: 160%;
    font-weight: 400;
    font-size: 61.05px;
    margin: 0;
}

h4 {
    font-family: "Romie", serif;
    color: var(--maroon);
    line-height: 160%;
    font-weight: 400;
    font-size: 48.84px;
    margin: 0;
}

h5,
h6 {
    font-family: "Romie", serif;
    color: var(--maroon);
    line-height: 160%;
    font-weight: 400;
    font-size: 39.06px;
}

h6 {
    font-weight: 300;
    margin: 0;
}

.headerLarge {
    font-family: "DM Sans", sans-serif;
    font-size: 31.25px;
    font-weight: 300;
}

.headerMedium {
    font-family: "DM Sans", sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.headerSmall {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

p, span {
    font-family: "DM Sans", sans-serif;
    font-size: 12.8px;
    color: var(--text);
    line-height: 160%;
}

.bodyLarge {
    font-size: 16px;
}

.bodyMedium {
    font-size: 12.8px;
}

.bodySmall {
    font-size: 10.24px;
}

.bold {
    font-weight: 600;
}

a {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    color: var(--maroon);
    cursor: pointer;
}

.button {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

.capitalise {
    text-transform: uppercase;
}

/* Landing */
#landingNav a {
    font-size: 16px;
    text-transform: uppercase;
}

#landingNav a:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;

}

/* About */
.aboutBio h6 {
    font-size: 25px !important;
}


/* Projects Page */
#smallerH1 {
    line-height: 100%;
    font-weight: 400;
    font-size: 61.05px;
    margin: 0;
}

#quote h5{
     font-size: 31.25px;
}


figcaption {
    font-size: 0.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}

.copyright {
    font-size: 0.66rem;
}

.socialLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

.socialLinks i {
    font-size: 2rem;
}

/*DESKTOP LAYOUT*/
@media screen and (width > 768px) {
    h1 {
        font-size: 186.31px;
    }

    h2 {
        font-size: 95.39px;
    }

    h3 {
        font-size: 76.31px;
    }

    h4 {
        font-size: 61.05px;
    }

    h5,
    h6,
    #quote h5 {
        font-size: 48.83px;
    }

    .headerLarge {
        font-size: 39.06px;
    }

    .headerMedium {
        font-size: 31.25px;
    }

    .headerSmall {
        font-size: 25px;
    }

    .bodyLarge {
        font-size: 20px;
    }

    .bodyMedium,
    p {
        font-size: 16px;
    }

    .bodySmall {
        font-size: 12.8px;
    }

    /* About */
    .aboutBio h6 {
        font-size: 31.25px !important;
    }

    #smallerH1 {
        line-height: 160%;
        font-size: 149.05px;
    }
}